<<<<<<< HEAD
<img class="logo" src="/img/MiEcommerce.png" alt="" />
<button id="modoOscuro">
  <img class="luna" src="/img/sun-solid.svg" />Modo Claro
</button>
=======
<img class="logo" src="/img/MiEcommerce.png" alt="" />
>>>>>>> 778baf69c4abbc5d97da37364f89ce11abbb4ea5
