<!DOCTYPE html>
<html lang="en" class="login">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/style.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap"
      rel="stylesheet"
    />
    <title>Login</title>
  </head>
  <header></header>
  <body>
    <section class="bodyLogReg">
      <section class="cuadroLogReg2">
        <form class="cuadroLogReg">
          <h2 class="textLogReg">!Hola¡</h2>
          <input
            type="text"
            name="NomUsr"
            id="NomUsr"
            placeholder="Tu nombre de usuario"
          />
          <input
            type="password"
            name="Pass"
            id="Pass"
            required
            placeholder="Tu contraseña"
          />
          <button id="botonIniciarSesion">Iniciar Sesión</button>
        </form>

        <p class="mensajeRegistro">
          ¿No tienes cuenta? <a href="/register">Registrate</a>
        </p>
      </section>
    </section>
  </body>
  <footer></footer>
</html>
