<!DOCTYPE html>
<html lang="en" class="login">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/style.css" rel="stylesheet" />
    <link href="/css/footer.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap"
      rel="stylesheet"
    />
    <title>Registro</title>
  </head>
  <header class="encabezado"><%- include('../partials/header') %></header>

  <body>
    <div class="cuadroFondo"></div>
    <section class="seccionLogReg">
      <section class="cuadroLogReg2">
        <form class="cuadroLogReg" action="/api/users/register" method="post">
          <h2 class="textLogReg">¡Registrate!</h2>
          <input type="email" name="email" id="NomUsr" placeholder="Tu email" />
          <input
            type="password"
            name="pass"
            id="pass"
            required
            placeholder="Tu nueva contraseña"
          />
          <p id="validar"></p>
          <input
            type="password"
            name="ValidPass"
            id="vpass"
            required
            placeholder="Repite tu contraseña"
          />
          <p id="fraseValidar"></p>
          <button id="botonIniciarSesion">Crear Cuenta</button>
        </form>
      </section>
      <p class="mensajeRegistro">
        ¿Ya tienes Cuenta? <a href="/login">Inicia Sesión</a>
      </p>
    </section>

    <script src="../../js/register.js"></script>
  </body>
</html>
