<!DOCTYPE html>
<html lang="en" class="login">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/style.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap"
      rel="stylesheet"
    />
    <title>Registro</title>
  </head>
  <body class="bodyLogReg">
    <section class="cuadroLogReg2">
      <form class="cuadroLogReg">
        <h2 class="textLogReg">!Regitrate¡</h2>
        <input type="email" name="email" id="NomUsr" placeholder="Tu email" />
        <input
          type="password"
          name="Pass"
          id="Pass"
          required
          placeholder="Tu nueva contraseña"
        />
        <input
          type="password"
          name="ValidPass"
          id="Pass"
          required
          placeholder="Repite tu contraseña"
        />
        <button id="botonIniciarSesion">Crear Cuenta</button>
      </form>

      <p class="mensajeRegistro">
        ¿Ya tienes Cuenta? <a href="/login">Inicia Sesión</a>
      </p>
    </section>
  </body>
  <footer></footer>
</html>
